*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: rgb(185, 211, 223);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}